.card{
    width: 300px;
    height: 120px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: -3px 10px 29px -5px  #06102C;
    -webkit-box-shadow: -3px 10px 29px -5px  #06102C;
    -moz-box-shadow: -3px 10px 29px -5px  #06102C;
    border-radius: 20px;

}

.desc {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #06102C ;
}

.fig{
    font-size: 20px;
    font-weight: 500;
    color: #06102C ;
}


@media only screen and (max-width: 320px){
    .card{
        width: 250px;
        height: 100px;
    }

    .desc,.fig{
        font-size: 17px;
    }
}